
<app-gara-login #login></app-gara-login>
<!-- <button mat-raised-button style="margin-bottom: 20px;" (click)="viewDetail()">Xem chi Tiết</button> -->
<br><br>
  <ag-grid-angular #login
  style="width: 100%; height: 40%;"
  class="ag-theme-alpine"
  [rowData]="rowData"
  [columnDefs]="columnDefs"
  [rowSelection]="'multiple'"
  [defaultColDef]="defaultColDef"
  [animateRows]="true"
  (cellClicked)="onCellClicked($event)"
  >
  </ag-grid-angular>
<button class="btn btn-primary" type="button">Button</button>

